html {
    font-size: 16px;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.section {
    padding: 120px 0;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 1.13rem;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
}

.logo-front {
    color: #4d5ae5;
}

.menu-box {
    display: flex;
}

.menu-box nav {
    margin-left: 76px;
}

.menu {
    display: flex;
    gap: 40px;
}

.menu-item {
    position: relative;
}

.menu-item a {
    display: block;
    padding: 24px 0;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item a:hover, .menu a:focus {
    color: #404bbf;
}

.menu-item-current a {
    color: #404bbf;
}

.menu-item-current a::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}

address {
    font-style: normal;
}

.address {
    display: flex;
    gap: 40px;
}

.address a {
    display: block;
    padding: 24px 0;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address a:hover, .address a:focus {
    color: #404bbf;
}

.section-hero {
    margin: 0 auto;
    padding: 188px 0;
    max-width: 1440px;
    background-color: #2e2f42;
    background-image: linear-gradient(
        to bottom, 
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ),
    
    url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.page-title {
    margin: 0 auto;
    max-width: 496px;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.hero-button {
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 0.25rem;
    border: none;
    padding: 16px 32px;
    background-color: #4d5ae5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover, .hero-button:focus {
    background-color: #404bbf;
}

.section-title {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.features-card-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.features-card {
    flex-basis: calc((100% - 72px) / 4);
}

.features-card-image-box {
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
}

.features-card-image-box svg {
    display: block;
    margin: 0 auto;
}

.features-card-title {
    margin: 8px 0;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.features-card-text {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-team {
    background-color: #f4f4fd;
}

.team-list {
    margin-top: 72px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-card {
    border-radius: 0 0 4px 4px;
    background-color: #fff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
    flex-basis: calc((100% - 72px) / 4);
}

.team-card-content {
    padding: 32px 16px
}

.team-card-title {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-card-text {
    margin: 8px 0;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.team-card-social-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    flex-shrink: 0;
}

.team-card-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-card-link:hover, 
.team-card-link:focus {
    background-color: #404bbf;
}

.team-card-symbol {
    fill: #f4f4fd;
}

.project-list {
    margin-top: 72px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.project-card {
    background-color: #fff;
    flex-basis: calc((100% - 48px) / 3);
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card:hover, .project-card:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.project-card-image-box {
    position: relative;
    overflow: hidden;
}

.overlay {
    padding: 40px 32px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card:hover .overlay {
    transform: translateY(0);
}

.project-card-content {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

.project-card-title {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.project-card-text {
    margin-top: 8px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

footer {
    padding: 100px 0;
    background-color: #2e2f42;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 1.13rem;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {
    margin-top: 16px;
    max-width: 264px;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.footer-social {
    margin-left: 120px;
    max-width: 208px;
}

.footer-social-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}

.footer-social-links {
    display: flex;
    gap: 16px;
    flex-shrink: 0;
}

.footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover, 
.footer-link:focus {
    background-color: #31d0aa;
}

.footer-symbol {
    fill: #f4f4fd;
}

.footer-subscribe {
    margin-left: auto;
}

.footer-subscribe-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}

.footer-input {
    padding-left: 16px;
    padding-right: 16px;
    width: 264px;
    height: 40px;
    font-size: 0.75rem;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    outline: transparent;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input::placeholder {
    color: #fff;
}

.footer-input:hover,
.footer-input:focus {
    border-color: #31d0aa;
}

.footer-form-button {
    margin-left: 24px;
    min-width: 165px;
    height: 40px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-button span {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
}

.footer-form-button:hover,
.footer-form-button:focus {
    background-color: #31d0aa;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    padding: 72px 24px 24px 24px;
    width: 408px;
    min-height: 584px;
    max-height: 98%;
    overflow-y: auto;
    position: relative;
    background: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 
    0 1px 3px 0 rgba(0, 0, 0, 0.12), 
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.modal-close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 24px;
    right: 24px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover, 
.modal-close:focus {
    background-color: #404bbf;
}

.modal-close-symbol {
    fill: #2e2f42;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover > .modal-close-symbol,
.modal-close:focus > .modal-close-symbol {
    fill: #fff;
}

.modal-title {
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.modal-label {
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-label-text {
    margin-bottom: 4px;
}

.modal-input-wrapper {
    display: block;
    position: relative;
}

.modal-input {
    padding-left: 38px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover, 
.modal-input:focus {
    border-color: #4d5ae5;
}

.modal-input:hover + .modal-input-symbol,
.modal-input:focus + .modal-input-symbol {
    fill: #4d5ae5;
}

.modal-input-symbol {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    fill: #2e2f42;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
    padding: 8px 16px;
    width: 100%;
    height: 120px;
    font-size: 0.75rem;
    line-height: 1.17;
    letter-spacing: 0.04em;
    outline: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    resize: none;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.modal-textarea:hover,
.modal-textarea:focus {
    border-color: #4d5ae5;
}

.modal-field-user-policy {
    margin-top: 16px;
}

.modal-checkbox:checked + .modal-checkbox-label span {
    background-color: #404bbf;
    fill: #f4f4fd;
    border: 1px solid #404bbf;
}

.modal-checkbox-label {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-checkbox-label > span {
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition-property: fill, background-color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox-label a {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.modal-button-submit {
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    height: 56px;
    display: block;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-submit:hover, 
.modal-button-submit:focus {
    background-color: #404bbf;
}